html {
    margin: 0;
    padding: 0;
    min-height: 100%;
}
head{
    margin:0;
    padding:0;
}
* {
    box-sizing: border-box;
}
body {
    font-family: Arial, sans-serif;

    display: grid;
    place-items: center;
    margin: 0;
    padding: 0;
}
button{

    margin: 2px;
}
.book {
    margin-top: 5px;
    margin-bottom: 5px;
    border: 1px solid #ccc;
    white-space: nowrap; /* Запрещает перенос текста на новую строку */
    text-overflow: ellipsis; /*многоточие если текст не влез*/
    overflow: hidden;
    padding: 0 10px;
    border-radius: 5px;
    max-height: 30px;
    min-width: 600px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.navbar{



    background-color: deepskyblue;
    position:static;
    top: 0;/*кто уберет этот дурацкий отступ тот лучший*/
    width: 100%;
    z-index: 1000;
}

.navbar a{
    margin: 10px 10px;
    float: left;
    display: block;
    color: white;
    text-decoration: none;


}