<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
    <body>
        <h1>Registration</h1>
        <form th:action="@{/registerUser}" method="post">
            <div><label> User Name : <input type="text" name="username"/> </label></div>
            <div><label> Password: <input type="password" name="password"/> </label></div>
            <div><input type="submit" value="Register"/></div>
        </form>
        <a th:href="@{/login}" th:text="Login">login</a>
    </body>
</html>